@model FilmRentalStore.MVC.ViewModels.Inventory.InventoryFormViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row mb-3">
    <div class="col-md-6">
        <label asp-for="Inventory.FilmId" class="form-label">Film</label>
        <select asp-for="Inventory.FilmId" asp-items="Model.Films" class="form-select" required>
            <option value="">-- Select Film --</option>
        </select>
        <span asp-validation-for="Inventory.FilmId" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Inventory.StoreId" class="form-label">Store</label>
        <select asp-for="Inventory.StoreId" asp-items="Model.Stores" class="form-select" required>
            <option value="">-- Select Store --</option>
        </select>
        <span asp-validation-for="Inventory.StoreId" class="text-danger"></span>
    </div>
</div>
