@model FilmRentalStore.MVC.DTOs.Actor.ActorRequestDto

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row mb-3">
    <div class="col-md-6">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" class="form-control" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>
