@model FilmRentalStore.MVC.ViewModels.Actor.ActorViewModel

<h1>Actor Details</h1>

<div class="card p-3">
    <p><strong>Actor Id:</strong> @Model.ActorId</p>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
</div>

<a asp-action="Index" class="btn btn-secondary mt-3">Back</a>