@model FilmRentalStore.MVC.ViewModels.Actor.ActorViewModel

<h1>Edit Actor</h1>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="ActorId" />

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
</form>